body {
	color: transparent;
	background: transparent;
}

#a {
	color: #cccccc;
	border: solid 1px transparent;
}

.p {
	color: #ccc;
	fill: transparent;
    border: solid 1px transparent;
	background: rgb(0,50,0) url('') 0 0 no-repeat;
}

@media screen and (min-width: 480px) {
    body {
		color: yellow;
        background-color: transparent;
		border: solid transparent 1px;
    }
}
